* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px red solid; */
}


/* :root {
    font-size: 62.5%;
    font-family: 'Neurial Grotesk' sans-serif;
}

body {
    font-size: 1.6rem;
} */